@model Planilhas.Models.diluicao_normal

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>diluicao_normal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tx_adm_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tx_adm_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fdo_reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fdo_reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguro_percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguro_percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bem_taxa_no_plano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bem_taxa_no_plano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_adesao_divido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_adesao_divido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_adesao_diluido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_adesao_diluido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_bem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_bem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_bem_mais_tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_bem_mais_tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_parce_sem_seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_parce_sem_seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parc_sem_ad_dilu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parc_sem_ad_dilu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_sobre_5_parcelas_iniciais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_sobre_5_parcelas_iniciais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_sobre_31_parcelas_iniciais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_sobre_31_parcelas_iniciais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalizando)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalizando)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_parcela_inicial_mais_adesao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_parcela_inicial_mais_adesao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_parc_mensal_iniciais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_parc_mensal_iniciais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlr_parc_mensal_parc_restantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlr_parc_mensal_parc_restantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_res)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_res)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_a_vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_a_vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parc_inicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parc_inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parcelas_restantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcelas_restantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txt_adm_desc_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt_adm_desc_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taxa_real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxa_real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_adm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_adm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_residencial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_residencial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo_ad_a_vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo_ad_a_vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo_parc_inicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo_parc_inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo_parc_restante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo_parc_restante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo_seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo_seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resumo_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumo_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_a_vista_valor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_a_vista_valor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_a_vista_valor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_a_vista_valor2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parc_ini_valor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parc_ini_valor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parc_ini_valor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parc_ini_valor2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parcelas_restantes_valor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcelas_restantes_valor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parcelas_restantes_valor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcelas_restantes_valor2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_quadro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_quadro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parcela_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parcela_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lance_valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lance_valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo_devedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo_devedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._qte_meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._qte_meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._j38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._j38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._l39)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._l39)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Voltar", "ListaDiretoria")
        </div>

    }
</div>
