@model Planilhas.Models.Role

@{
    ViewBag.Title = "RoleCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .cor-conteudo {
            color: black;
        }

        input {
            height: 35px;
            padding: 5px;
            border: 1px solid rgba(171, 220, 218, 0.92);
            box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
            -webkit-box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
        }

         button, html input[type="button"],
        input[type="reset"], input[type="submit"] {
            cursor: pointer;
            -webkit-appearance: button;
            background-color: #117fc5;
            color: white;            
        }

         input[type="submit"]:hover{
             
         box-shadow: 0 0 1em #1c71dc;
         }
    </style>
}
<p>&nbsp;</p>
<div class="cor-conteudo">
    <div class="spacerBody" style="padding-bottom:165px; padding-left:35px;">
        <p>&nbsp;</p>
        @Html.ActionLink("Ver grupos", "RoleIndex") | @Html.ActionLink("Adicionar usuário a um grupo", "RoleAddToUser")
        <h2>Criar grupo</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div style="margin-bottom:2px;">
                Nome do grupo
            </div>
            
            <p>
                @Html.TextBoxFor(model => model.RoleName)
            </p>
            <input type="submit" value="Salvar" />
            <p>&nbsp;</p>
            <div class="message-success">@ViewBag.ResultMessage</div>
        }
    </div>
</div>