
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")
    

    <script type="text/javascript">

       $(document).ready(function () {
            $("#UserName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Account/AutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                
                                return { label: (item.Usuario), value: (item.Usuario) };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })

       $(document).ready(function () {
           $("#UserName").bind({
                             
           }).blur(function (request, response) {
               $.ajax({
                   url: "/Account/AutocompletenoClick",
                   type: "POST",
                   dataType: "json",
                   data: { term: $('#UserName').val() },

                   success: function (term) {
                       response($.map(term, function (item) {

                           
                           $("#user").val(item["Nome"] + " " + item["Sobrenome"]);
                       }))

                   }
               })
                      
           }).blur(function (request, response) {
               $.ajax({
                   url: "/Account/BindDepartamento",
                   type: "POST",
                   dataType: "json",
                   data: { term: $('#UserName').val() },

                   success: function (term) {
                       response($.map(term, function (item) {

                            
                           $("#departamento").val(item["Departamentos"]);
                       }))

                   }
               })
          
           })
       })
     

    </script>
}


@{
    ViewBag.Title = "Role Add To User";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <style>

        .spacerBody{
            font-family:'Montserrat', sans-serif;
            font-size:16px;
            height:auto;
        }

        input {
            height: 35px;
            padding: 5px;
            border: 1px solid rgba(171, 220, 218, 0.92);
            box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
            -webkit-box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
        }

        select {
            font-family: 'Montserrat';
            font-size: 17px;
            width: 145px;
            height: 35px;
            border: 1px solid rgba(171, 220, 218, 0.92);
            box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
            -webkit-box-shadow: inset 1px 5px 33px -37px #ABABAB, 2px 1px 14px 1px #DDDDDD;
        }
        

        .cor-conteudo {
            color: black;
           
        }
        .cor-conteudo h3{
            color:black;
            padding-left:unset;
            font-family:'Montserrat';
            
            }


        button, html input[type="button"],
        input[type="reset"], input[type="submit"] {
            cursor: pointer;
            -webkit-appearance: button;
            background-color: #117fc5;
            color: white;
            border-color: dodgerblue;
            
        }

        
    </style>
}
<p>&nbsp;</p>
<div class="cor-conteudo">
    <div class="spacerBody" style="padding:20px; margin-bottom:90px;">
        
        @Html.ActionLink("Criar novo grupo", "RoleCreate") | @Html.ActionLink("Ver Grupos", "RoleIndex") 
        <div class="message-success" style="text-align:center; margin-top:0px;">@ViewBag.ResultMessage</div>

        

        <div class="col-lg-12" style="height:100px; margin-top:30px;">
            <h4>Adicionar Usuário a um Grupo </h4>
            @using (Html.BeginForm("RoleAddToUser", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)



                <span style="padding-right:15px; float:left;">

                    Nome de usuário<br /> @Html.TextBox("UserName")
                </span>

                    <span id="show" style="padding-right:15px; float:left;">
                        Nome <br /> <input type="text" id="user" readonly  />
                    </span>
                    <span id="show2" style="padding-right:15px; float:left;">
                        Departamento <br /> <input type="text" id="departamento" readonly  />
                    </span>

                    <span style="padding-right:15px; float:left;">
                        Nome do grupo<br /> @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
                    </span>
                    <span style="padding-right:15px; float:left;">
                        <br />
                        <input type="submit" value="Salvar" style="float:left; clear:both;" />

                    </span>
            }
        </div>


        <div class="col-lg-12">
            <h4>Ver os grupos deste usuário </h4>
            @using (Html.BeginForm("GetRoles", "Account"))
            {
                <text>


                    @Html.AntiForgeryToken()

                    Usuário : @Html.TextBox("UserName")
                    <input type="submit" value="Ver" style="margin-left:10px; width:50px;" />
                </text>
            }
             
            </div>
        
       
        @if (ViewBag.RolesForThisUser != null)
            {
           
            <div class="col-lg-12" style="height:80px; padding-top:20px;">
                <text>
                    <h4>Grupos deste usuário </h4>
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                {
                            <li style="list-style-type:circle">@s</li>
                        }
                    </ol>
                </text>
            </div>
            
        }
               
        

        <div class="col-lg-12" style="height:80px; margin-top:30px;">
            <h4>Excluir usuário de um grupo</h4>

            @using (Html.BeginForm("DeleteRoleForUser", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p>
                    @*Name : @Html.TextBox("User")*@
                    Usuário : @Html.TextBox("UserName")
                    <span style="padding-left:15px; margin-right:10px;">Nome do grupo: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)</span>
                    <input type="submit" value="Excluir" />
                </p>

               
            }
            </div>
        </div>
   
    </div>
